@model Entidad.TIPOTELEFONO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TIPOTELEFONO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoTelefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoTelefono1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoTelefonoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
