@model Entidad.DOCUMENTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DOCUMENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.nom_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.nom_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENTA.VentaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENTA.VentaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocumentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
