@model Entidad.ALOJAMIENTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ALOJAMIENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOTEL.NomHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEL.NomHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESERVA.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESERVA.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nro_Hab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nro_Hab)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
