@model IEnumerable<Entidad.ALOJAMIENTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HOTEL.NomHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESERVA.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nro_Hab)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEL.NomHotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESERVA.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nro_Hab)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlojamientoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlojamientoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlojamientoId })
        </td>
    </tr>
}

</table>
